.history
  h2 History
  ul
    li 
      spam.title History Item 1
      input(type="button"
            value="Revert")
    li
      spam.title History Item 2
      input(type="button"
            value="Revert")