.objects
  h2 Objects
  ul
    li.dataset.expanded
      span.title Dataset1
      .details
        p Brief Description of dataset.
        ul
          li.variable.ordinal
            span.title Dataset1.V1
            .details
              p Details
          li.variable.scalar
            span.title Dataset1.V2
            .details
              p Details
          li.variable.nominal
            span.title Dataset1.V3
            .details
              p Details
    li.variable.scalar
      span.title Variable1
      .details
    li.dataset.collapsed
      span.title Dataset2
      .details
        p Brief Description of dataset.
        ul
          li.variable.scalar
            span.title Dataset2.V1
            .details
              p Details
          li.variable.nominal
            span.title Dataset2.V2
            .details
              p Details
          li.variable.scalar
            span.title Dataset2.V3
            .details
              p Details
          li.variable.datetime
            span.title Dataset2.V4
            .details
              p Details
          li.variable.ordinal
            span.title Dataset2.V5
            .details
              p Details
