.objects
  h2 Objects
  ul
    li.dataset
      span.title Dataset1
      .details
        p Brief Description of dataset.
        ul
          li.variable
            span.title Dataset1.V1
            .details
              p Details
          li.variable
            span.title Dataset1.V2
            .details
              p Details
          li.variable
            span.ttile Dataset1.V3
            .details
              p Details
    li.variable 
      span.title Variable1
      .details
    li.dataset
      span.title Dataset2
      .details
        p Brief Description of dataset.
        ul
          li.variable
            span.title Dataset2.V1
            .details
              p Details
          li.variable
            span.title Dataset2.V2
            .details
              p Details
          li.variable
            span.ttile Dataset2.V3
            .details
              p Details
          li.variable
            span.title Dataset2.V4
            .details
              p Details
          li.variable
            span.ttile Dataset2.V5
            .details
              p Details
