<div>
    <ul class="thumbnails">
        {{#each links}}
            <li class="span3">
            <div class="thumbnail">
                <h4>{{label}} ({{name}})</h4>
                <p>{{description}}</p>
                <p>Mode: {{mode}}</p>
            </div>
            </li>
        {{/each}}
    </ul>
</div>