<div class="span3">
  <div class="well sidebar-nav">
    <form class="form-search">
    <div class="row-fluid input-append">
      <input type="text" class="span9 search-query" placeholder="Filter..."></input><button class="btn" type="button"><i class="icon-search"></i></button>
    </div>
    </form>
    <ul class="nav nav-list">
      <a href="#workspace/1" class="hasPopover"
        data-toggle="popover" data-original-title="My Awesome Project"
        data-trigger="hover" data-placement="bottom"
        data-content="This could be a longer description of what this workspace is about. These would in theory be editable when we go to workspace 'edit' mode.">MyAwesomeProject</a>
      <a href="#workspaces/list" class="hasPopover pull-right" 
        data-toggle="popover" data-original-title="List Workspaces"
        data-trigger="hover" data-content="Click to choose another Workspace" data-placement="right"><span class="icon-eject"></span></a>
      <li class="active"><a href="#" class="hasPopover"
          data-toggle="popover" data-original-title="Students Dataset"
          data-trigger="hover" data-placement="bottom"
          data-content="Contains student directory information."><i class="icon-table add-on"></i>Students<i class="icon-plus pull-right add-on" data-toggle="collapse" data-target="#group1"></i></a></li>
        <ul id="group1" class="nav nav-list collapse">
          <li><a href="#"><i class="icon-bars-2 add-on"></i>Name</a></li>
          <li><a href="#"><i class="icon-calendar add-on"></i>DOB</a></li>
          <li><a href="#"><i class="icon-bars add-on"></i>Height</a></li>
        </ul>

      <li><a href="#"><i class="icon-image add-on"></i>Heights Graph</a></li>
      <li><a href="#"><i class="icon-table-2 add-on"></i>Heights Statistics</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
