<div class="span3">
  <div class="well sidebar-nav">
    <form class="form-search">
    <div class="row-fluid input-append">
      <input type="text" class="span9 search-query" placeholder="Filter..."></input><button class="btn" type="button"><i class="icon-search"></i></button>
    </div>
    </form>
    <ul class="nav nav-list">
        {{> sidebarMain }}
    </ul>
  </div><!--/.well -->
</div><!--/span-->
