@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Libre+Baskerville:400,700,400italic);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Icons';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 13, ../sass/screen.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 17, ../sass/screen.scss */
html * {
  font-family: "Libre Baskerville", serif;
}

/* line 47, ../sass/screen.scss */
.header {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* line 52, ../sass/screen.scss */
.sidebar {
  width: 30%;
  float: left;
}

/* line 56, ../sass/screen.scss */
.content {
  width: 70%;
  margin-left: 30%;
}

/* line 60, ../sass/screen.scss */
.footer {
  clear: both;
}

/* line 63, ../sass/screen.scss */
.sidebar, .content, .footer {
  padding: 10px 2%;
}

/* line 65, ../sass/screen.scss */
body {
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #d1e5fa), color-stop(2%, #f1f7fd), color-stop(29%, #f1f7fd), color-stop(30%, #75b2f0), color-stop(31%, #f1f7fd), color-stop(98%, #f1f7fd), color-stop(100%, #d1e5fa));
  background: -webkit-linear-gradient(left, #d1e5fa, #f1f7fd 2%, #f1f7fd 29%, #75b2f0 30%, #f1f7fd 31%, #f1f7fd 98%, #d1e5fa);
  background: -moz-linear-gradient(left, #d1e5fa, #f1f7fd 2%, #f1f7fd 29%, #75b2f0 30%, #f1f7fd 31%, #f1f7fd 98%, #d1e5fa);
  background: -o-linear-gradient(left, #d1e5fa, #f1f7fd 2%, #f1f7fd 29%, #75b2f0 30%, #f1f7fd 31%, #f1f7fd 98%, #d1e5fa);
  background: linear-gradient(left, #d1e5fa, #f1f7fd 2%, #f1f7fd 29%, #75b2f0 30%, #f1f7fd 31%, #f1f7fd 98%, #d1e5fa);
}

/* line 75, ../sass/screen.scss */
.header {
  position: relative;
  padding: 0.5em;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d1e5fa), color-stop(100%, #75b2f0));
  background: -webkit-linear-gradient(top, #d1e5fa, #75b2f0);
  background: -moz-linear-gradient(top, #d1e5fa, #75b2f0);
  background: -o-linear-gradient(top, #d1e5fa, #75b2f0);
  background: linear-gradient(top, #d1e5fa, #75b2f0);
  border-bottom: 1px solid #0f4c8a;
}
/* line 78, ../sass/screen.scss */
.header .logo {
  height: 4em;
  float: left;
}
/* line 83, ../sass/screen.scss */
.header h1 {
  color: #0f4c8a;
  font-family: "Anonymous Pro", sans-serif;
  font-weight: bold;
  text-shadow: -2px -1px #75b2f0, -3px -2px #0f4c8a;
  position: absolute;
  bottom: 0;
  left: 20%;
  font-size: 4.5em;
}

/* line 97, ../sass/screen.scss */
.footer {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #75b2f0), color-stop(100%, #d1e5fa));
  background: -webkit-linear-gradient(top, #75b2f0, #d1e5fa);
  background: -moz-linear-gradient(top, #75b2f0, #d1e5fa);
  background: -o-linear-gradient(top, #75b2f0, #d1e5fa);
  background: linear-gradient(top, #75b2f0, #d1e5fa);
  padding: 0.4em;
  overflow: hidden;
  height: 1.6em;
}
/* line 102, ../sass/screen.scss */
.footer .copyright {
  display: block;
  float: right;
  font-style: italic;
  font-size: 0.8em;
}

/* line 114, ../sass/screen.scss */
.login_info {
  position: absolute;
  right: 2em;
  top: 0;
  padding: 4px;
  border-width: 1px;
  border-color: #0f4c8a;
  border-style: solid;
  border-top: none;
  border-radius: 0 0 6px 6px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #197fe6), color-stop(100%, #75b2f0));
  background: -webkit-linear-gradient(top, #197fe6, #75b2f0);
  background: -moz-linear-gradient(top, #197fe6, #75b2f0);
  background: -o-linear-gradient(top, #197fe6, #75b2f0);
  background: linear-gradient(top, #197fe6, #75b2f0);
}
/* line 128, ../sass/screen.scss */
.login_info p {
  float: left;
}
/* line 131, ../sass/screen.scss */
.login_info .latency {
  float: right;
  color: green;
  font-size: 0.8em;
}
/* line 135, ../sass/screen.scss */
.login_info .latency span {
  margin-left: 1em;
  display: block;
}

/* line 146, ../sass/screen.scss */
.sidebar > div {
  margin-top: 20px;
  border-style: solid;
  border-color: #197fe6;
  border-width: 1px;
  border-radius: 4px;
  background: #d1e5fa;
}
/* line 155, ../sass/screen.scss */
.sidebar > div > * {
  padding: 0.2em;
}
/* line 158, ../sass/screen.scss */
.sidebar > div h2 {
  text-align: center;
  display: block;
  font-family: "Anonymous Pro", sans-serif;
  font-weight: bold;
  font-color: #0f4c8a;
  font-size: 1.2em;
  background: #75b2f0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #197fe6;
}
/* line 173, ../sass/screen.scss */
.sidebar > div h2:hover {
  background: #197fe6;
}
/* line 178, ../sass/screen.scss */
.sidebar > div ul li {
  display: block;
  margin-top: 0.1em;
  padding: 0.2em 0.1em;
}
/* line 179, ../sass/screen.scss */
.sidebar > div ul li:before {
  speak: none;
  font-family: 'Icons';
  font-style: normal;
  font-size: 0.7em;
  padding-right: 0.1em;
  font-weight: normal;
  vertical-align: 0.1em;
  -webkit-font-smoothing: antialiased;
  content: "\e000";
  color: #0f4c8a;
}
/* line 185, ../sass/screen.scss */
.sidebar > div ul li > * {
  margin-left: 0.6em;
  padding: 0.2em;
}
/* line 190, ../sass/screen.scss */
.sidebar > div ul li span {
  margin-left: 0.2em;
  padding: 0 0.2em;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #197fe6), color-stop(100%, #75b2f0));
  background: -webkit-linear-gradient(top, #197fe6, #75b2f0);
  background: -moz-linear-gradient(top, #197fe6, #75b2f0);
  background: -o-linear-gradient(top, #197fe6, #75b2f0);
  background: linear-gradient(top, #197fe6, #75b2f0);
  border-width: 1px;
  border-color: #0f4c8a;
  border-style: solid;
  border-radius: 6px;
}
/* line 195, ../sass/screen.scss */
.sidebar > div ul li .details {
  margin-top: 0.2em;
  padding-left: 0.5em;
}

/* line 204, ../sass/screen.scss */
.title:before {
  background-padding: 0.2em;
}

/* line 210, ../sass/screen.scss */
.dataset .title:before {
  speak: none;
  font-family: 'Icons';
  font-style: normal;
  font-size: 0.7em;
  padding-right: 0.1em;
  font-weight: normal;
  vertical-align: 0.1em;
  -webkit-font-smoothing: antialiased;
  content: "\e010";
  color: #8a4d0f;
}

/* line 213, ../sass/screen.scss */
.variable.scalar .title:before {
  speak: none;
  font-family: 'Icons';
  font-style: normal;
  font-size: 0.7em;
  padding-right: 0.1em;
  font-weight: normal;
  vertical-align: 0.1em;
  -webkit-font-smoothing: antialiased;
  content: "\e00b";
  color: #8a4d0f;
}

/* line 216, ../sass/screen.scss */
.variable.ordinal .title:before {
  speak: none;
  font-family: 'Icons';
  font-style: normal;
  font-size: 0.7em;
  padding-right: 0.1em;
  font-weight: normal;
  vertical-align: 0.1em;
  -webkit-font-smoothing: antialiased;
  content: "\e00c";
  color: #8a4d0f;
}

/* line 219, ../sass/screen.scss */
.variable.nominal .title:before {
  speak: none;
  font-family: 'Icons';
  font-style: normal;
  font-size: 0.7em;
  padding-right: 0.1em;
  font-weight: normal;
  vertical-align: 0.1em;
  -webkit-font-smoothing: antialiased;
  content: "\e00d";
  color: #8a4d0f;
}

/* line 222, ../sass/screen.scss */
.variable.datetime .title:before {
  speak: none;
  font-family: 'Icons';
  font-style: normal;
  font-size: 0.7em;
  padding-right: 0.1em;
  font-weight: normal;
  vertical-align: 0.1em;
  -webkit-font-smoothing: antialiased;
  content: "\e01e";
  color: #8a4d0f;
}

/* line 226, ../sass/screen.scss */
nav {
  display: none;
}
