nav.inactive
  h2 Menu
  .navmenu
    ul
      h3 File
      li Import
      li Export
      li New
    ul
      h3 Data
      li New
      li Merge
      li Reshape
      li Filter
      li Summary
    ul
      h3 Analyze
      li Table
      li Graph
      li Test
    ul
      h3 Settings
      li User
      li Graph
      li Table
    ul
      h3 Help
      li User Guide
      li Tooltips
  