nav.inactive
  h2 Menu
  .navmenu
    ul
      h3 File
      li Open
      li Save
      li New
    ul
      h3 Data
      li New
      li Convert
      li Summary
    ul
      h3 Reports
      li Descriptive
      li Graph
      li Test
    ul
      h3 Settings
      li Graph
      li Table
  