script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
  type="text/javascript")
script(src="javascripts/mockup.js")
script(src="/socket.io/socket.io.js")
| <script>
|   var socket = io.connect('http://localhost');
|   socket.on('news', function (data) {
|     console.log(data);
|     socket.emit('my other event', { my: 'data' });
|   });
|   socket.on('message', function(msg) {
|      console.log(msg);
|   });
| </script>