.content {
    .views {
        margin-left: 6em;
        height: 3em;
        li {
            float: left;
            margin-left: 0.2em;
            margin-top: 1.3em;
            padding: 0.2em;
            border: {
                width: 1px;
                radius: 4px 4px 0 0;
                style: solid;
                color: $sat_medium;
                bottom-width: 0;
            };
            font: {
                size: 110%;
            };
            box-shadow: -2px -1px 1px transparentize($sat_bold, 0.25);
            background-color: $color_very_light;
            &.active {
                background: {
                    color: $sat_medium;
                };   
                box-shadow: -2px -1px 1px $sat_bold;
            };
        }
    }
    .main {
        border: 1px solid black;
    }
}

.main table {
    width: auto;
    border-right: {
        color: $sat_bold;
        width: 1px;
        style: solid;
    };
    th, tr, td {
        padding: 0.2em 0.8em;
        text-align: right;
    }
    td {
        &.nominal, &.ordinal, &.string {
            text-align: left;
        }
        &.scalar {
            font-family: $sansserif;
        }
    };
    th {
        font: {
            family: $sansserif;
            weight: bold;
        };
        border-bottom: 1px solid $sat_bold;
        background-color: $sat_light;
    }
    tr {
        &:nth-child(even) {
            background: {
                color: $sat_very_light;
            };
        };
    }
}