/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";
@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Libre+Baskerville:400,700,400italic);
@import "icons";
@import "settings";


@mixin custom_button($radius: 6px, $color: $color_bold, $color_grad1: lighten($color, 20%), $color_grad2: lighten($color, 40%)) {
    @include background(linear-gradient(top, $color_grad1, $color_grad2));
    border: {
        width: 1px;
        color: $color;
        style: solid;
        radius: $radius;
    };
}

@import "layout";
@import "login";
@import "sidebar";
@import "icon-placement";
@import "nav";
