/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";
@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Libre+Baskerville:400,700,400italic);
@import "icons";

$sansserif: 'Anonymous Pro', sans-serif;
$serif: "Libre Baskerville", serif;
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html * {
     font-family: $serif;
}
$sidewidth: 30%;
$headerheight: 5em;
$color_bold: hsl(210, 80%, 30%);
$color_medium: lighten($color_bold, 20%);
$color_light: lighten($color_bold, 40%);
$color_very_light: lighten($color_bold, 60%);
$color_extreme_light: lighten($color_bold, 67%);
$sat_percent: 20%;
$sat_bold: desaturate($color_bold, $sat_percent);
$sat_medium: desaturate($color_medium, $sat_percent);
$sat_light: desaturate($color_light, $sat_percent);
$sat_very_light: desaturate($color_very_light, $sat_percent);
$sat_extreme_light: desaturate($color_extreme_light, $sat_percent);
$white_transparent: rgba(255, 255, 255, 0);

@mixin custom_button($radius: 6px, $color: $color_bold, $color_grad1: lighten($color, 20%), $color_grad2: lighten($color, 40%)) {
    @include background(linear-gradient(top, $color_grad1, $color_grad2));
    border: {
        width: 1px;
        color: $color;
        style: solid;
        radius: $radius;
    };
}

// Layout
.header {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.sidebar {
    width: $sidewidth;
    float: left;
}
.content {
    width: 100% - $sidewidth;
    margin-left: $sidewidth;
}
.footer {
    clear: both;
}
.sidebar, .content, .footer { padding: 10px 2%; }

body {
    @include background(linear-gradient(left, 
        $color_very_light, 
        $color_extreme_light 2%,
        $color_extreme_light $sidewidth - 1%,
        $color_light $sidewidth, 
        $color_extreme_light $sidewidth + 1%,
        $color_extreme_light 98%,
        $color_very_light));
}
.header {
    position: relative;
    padding: 0.1 * $headerheight;
    .logo {
        height: 0.8 * $headerheight;
        float: left;
    }
    @include background(linear-gradient(top, $color_very_light, $color_light));
    h1 {
        color: $color_bold;
        font-family: $sansserif;
        font-weight: bold;
        text-shadow: -2px -1px $color_light, -3px -2px $color_bold;
        position: absolute;
        bottom: 0;
        left: 20%;
        font: {
            size: 0.9 * $headerheight;
        };
    }
    border-bottom: 1px solid $color_bold;
}
.footer {
    @include background(linear-gradient(top, $color_light, $color_very_light));
    padding: 0.4em;
    overflow: hidden;
    height: 1.6em;
    .copyright {
        display: block;
        float: right;
        font: {
            style: italic;
            size: 0.8em;
        };
    }
}
//
// login window
//
.login_info {
    position: absolute;
    right: 2em;
    top: 0;
    $width: 1px;
    padding: 4px;
    border: {
        width: $width;
        color: $color_bold;
        style: solid;
        top: none;
        radius: 0 0 6px 6px;
    };
    @include background(linear-gradient(top, $color_medium, $color_light));
    p {
        float: left;
    }
    .latency {
        float: right;
        color: green;
        font-size: 0.8em;
        span {
            margin-left: 1em;
            display: block;
        }
    }
}

//
// Sidebar formatting
//
.sidebar {
    > div {
        margin-top: 20px;
        border: {
            style: solid;
            color: $color_medium;
            width: 1px;
            radius: 4px;
        };
        @include background($color_very_light);
        > * {
            padding: 0.2em;
        }
        h2 {
            text-align: center;
            display: block;
            font: {
                family: $sansserif;
                weight: bold;
                color: $color_bold;
                size: 1.2em;
            };
            @include background($color_light);
            border-bottom: {
                width: 1px;
                style: solid;
                color: $color_medium;
            };
            &:hover {
                @include background($color_medium);
            };
        }
        ul {
            li {
                @include icon-plus($color_bold);
                display: block;
                margin-top: 0.1em;
                padding: 0.2em 0.1em;
                > * {
                    margin-left: 0.6em;
                    padding: 0.2em;
//                    padding-left: 0.3em;
                }
                span {
                    margin-left: 0.2em;
                    padding: 0 0.1em;
                    @include custom_button;
                }
                .details {
                    margin-top: 0.2em;
                    padding-left: 0.5em;
                }
            }
        }
    }
}


nav {
    display: none;
}


