<input id="new-value" {{ (el) -> el.val('').focus() }} placeholder="Add a number!" autofocus="">

<section id="main" class="{{^values}}hidden{{/values}}">
	<ul id="value-list">
	{{#values}}
		<li class="value" {{data 'value'}}>
			<div class="view">
				<span>{{value}}</span>
				<button class="destroy">x</button>
			</div>
		</li>
	{{/values}}
	</ul>
</section>
<section id="summaries">
<h3>Summaries</h3>
<ul>
  <li>Sum: {{round values.sum 3}}</li>
  <li>Count: {{values.count}}</li>
  <li>Mean: {{round values.mean 3}}</li>
  <li>Variance: {{round values.variance 3}}</li>
  <li>Std. Dev.: {{round values.sd 3}}</li>
</ul>
</section>