@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Droid+Serif:400,400italic,700|Droid+Sans:400,700);
@font-face {
  font-family: 'Icons';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 5, ../sass/_settings.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 9, ../sass/_settings.scss */
html * {
  font-family: "Droid Serif", serif;
}

/* line 6, ../sass/loginPage.scss */
body {
  background: none;
  height: 20em;
}

/* line 12, ../sass/loginPage.scss */
#registerForm {
  width: 550px;
  margin: 10% 20%;
  padding: 1em;
  background-color: #d1e5fa;
  border: 2px solid #0f4c8a;
  border-radius: 5px;
  text-align: center;
}
/* line 22, ../sass/loginPage.scss */
#registerForm h2 {
  font-size: 140%;
  font-weight: bold;
  color: #8a4d0f;
  border: none;
  border-bottom-style: dotted;
  border-bottom-color: #f0b375;
  border-bottom-width: 1px;
  padding: 0;
  margin-bottom: 1em;
}
/* line 39, ../sass/loginPage.scss */
#registerForm form {
  overflow: auto;
  font-size: 120%;
}
/* line 43, ../sass/loginPage.scss */
#registerForm label {
  display: block;
  float: left;
  text-align: right;
  width: 25%;
  padding: 0.8em 0.3em;
}
/* line 50, ../sass/loginPage.scss */
#registerForm input {
  width: 60%;
  float: left;
  margin: 0.25em 0.7em;
  margin-right: 0;
  padding: 0.15em;
  font-size: 120%;
  border: 2px solid #0f4c8a;
  border-radius: 5px;
}
/* line 59, ../sass/loginPage.scss */
#registerForm input.notavail {
  background-color: #ffcccc;
}
/* line 62, ../sass/loginPage.scss */
#registerForm input:focus {
  background-color: #fae6d1;
}
/* line 66, ../sass/loginPage.scss */
#registerForm span {
  display: block;
  width: 5%;
  float: left;
  padding: 0.7em 0;
}
/* line 72, ../sass/loginPage.scss */
#registerForm input.avail + span:after {
  speak: none;
  font-family: 'Icons';
  font-style: normal;
  font-size: 0.7em;
  padding-right: 0.1em;
  font-weight: normal;
  vertical-align: 0.1em;
  -webkit-font-smoothing: antialiased;
  content: "\e002";
  color: #8a4d0f;
  color: green;
}
/* line 76, ../sass/loginPage.scss */
#registerForm input.notavail + span:after {
  speak: none;
  font-family: 'Icons';
  font-style: normal;
  font-size: 0.7em;
  padding-right: 0.1em;
  font-weight: normal;
  vertical-align: 0.1em;
  -webkit-font-smoothing: antialiased;
  content: "\e003";
  color: #8a4d0f;
  color: red;
}
/* line 80, ../sass/loginPage.scss */
#registerForm #submit {
  float: right;
  font-weight: bold;
  width: 30%;
  clear: both;
  margin-right: 12%;
  background-color: #f0b375;
  color: #8a4d0f;
  border-color: #0f4c8a;
}
/* line 89, ../sass/loginPage.scss */
#registerForm #submit:disabled {
  border-width: 1px;
  background-color: #fae6d1;
  color: #cccccc;
  border-color: #cccccc;
}
/* line 95, ../sass/loginPage.scss */
#registerForm #submit:hover {
  background-color: #e68019;
}
/* line 99, ../sass/loginPage.scss */
#registerForm #password.vweak + span:after {
  speak: none;
  font-family: 'Icons';
  font-style: normal;
  font-size: 0.7em;
  padding-right: 0.1em;
  font-weight: normal;
  vertical-align: 0.1em;
  -webkit-font-smoothing: antialiased;
  content: "\e020";
  color: red;
}
/* line 102, ../sass/loginPage.scss */
#registerForm #password.weak + span:after {
  speak: none;
  font-family: 'Icons';
  font-style: normal;
  font-size: 0.7em;
  padding-right: 0.1em;
  font-weight: normal;
  vertical-align: 0.1em;
  -webkit-font-smoothing: antialiased;
  content: "\e020";
  color: #ffaa00;
}
/* line 105, ../sass/loginPage.scss */
#registerForm #password.medium + span:after {
  speak: none;
  font-family: 'Icons';
  font-style: normal;
  font-size: 0.7em;
  padding-right: 0.1em;
  font-weight: normal;
  vertical-align: 0.1em;
  -webkit-font-smoothing: antialiased;
  content: "\e020";
  color: #50c800;
}
/* line 108, ../sass/loginPage.scss */
#registerForm #password.strong + span:after {
  speak: none;
  font-family: 'Icons';
  font-style: normal;
  font-size: 0.7em;
  padding-right: 0.1em;
  font-weight: normal;
  vertical-align: 0.1em;
  -webkit-font-smoothing: antialiased;
  content: "\e002";
  color: #4dff4d;
}
/* line 111, ../sass/loginPage.scss */
#registerForm #password.vstrong + span:after {
  speak: none;
  font-family: 'Icons';
  font-style: normal;
  font-size: 0.7em;
  padding-right: 0.1em;
  font-weight: normal;
  vertical-align: 0.1em;
  -webkit-font-smoothing: antialiased;
  content: "\e002";
  color: green;
}
