@font-face {
	font-family: 'Icons';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin icon($uni, $color: black) {
    speak: none;
    font: {
        family: 'Icons';
        style: normal;
        size: 0.7em;
    }
    padding-right: 0.1em;
    font-weight: normal;
    vertical-align: 0.1em;
    -webkit-font-smoothing: antialiased;
    content: $uni;
    color: $color;
}

@mixin icon-plus($color: black) { @include icon("\e000", $color) };
@mixin icon-minus($color: black) { @include icon("\e001", $color) };
@mixin icon-checkmark($color: black) { @include icon("\e002", $color) };
@mixin icon-warning($color: black) { @include icon("\e003", $color) };
@mixin icon-info($color: black) { @include icon("\e004", $color) };
@mixin icon-info-2($color: black) { @include icon("\e005", $color) };
@mixin icon-remove($color: black) { @include icon("\e006", $color) };
@mixin icon-close($color: black) { @include icon("\e007", $color) };
@mixin icon-lightning($color: black) { @include icon("\e008", $color) };
@mixin icon-wrench($color: black) { @include icon("\e009", $color) };
@mixin icon-cog($color: black) { @include icon("\e00a", $color) };
@mixin icon-bars($color: black) { @include icon("\e00b", $color) };
@mixin icon-bars-2($color: black) { @include icon("\e00c", $color) };
@mixin icon-pie($color: black) { @include icon("\e00d", $color) };
@mixin icon-undo($color: black) { @include icon("\e00e", $color) };
@mixin icon-redo($color: black) { @include icon("\e00f", $color) };
@mixin icon-table($color: black) { @include icon("\e010", $color) };
@mixin icon-arrow-up-left($color: black) { @include icon("\e011", $color) };
@mixin icon-arrow-up($color: black) { @include icon("\e012", $color) };
@mixin icon-arrow-up-right($color: black) { @include icon("\e013", $color) };
@mixin icon-arrow-right($color: black) { @include icon("\e014", $color) };
@mixin icon-arrow-down-right($color: black) { @include icon("\e015", $color) };
@mixin icon-arrow-down($color: black) { @include icon("\e016", $color) };
@mixin icon-arrow-down-left($color: black) { @include icon("\e017", $color) };
@mixin icon-arrow-left($color: black) { @include icon("\e018", $color) };
@mixin icon-backward($color: black) { @include icon("\e019", $color) };
@mixin icon-forward($color: black) { @include icon("\e01a", $color) };
@mixin icon-play($color: black) { @include icon("\e01b", $color) };
@mixin icon-stats($color: black) { @include icon("\e01c", $color) };
@mixin icon-meter($color: black) { @include icon("\e01d", $color) };
@mixin icon-calendar($color: black) { @include icon("\e01e", $color) };
@mixin icon-envelop($color: black) { @include icon("\e01f", $color) };
@mixin icon-blocked($color: black) { @include icon("\e020", $color) };
@mixin icon-question($color: black) { @include icon("\e021", $color) };
@mixin icon-notification($color: black) { @include icon("\e022", $color) };
@mixin icon-home($color: black) { @include icon("\e023", $color) };
@mixin icon-newspaper($color: black) { @include icon("\e024", $color) };
@mixin icon-pencil($color: black) { @include icon("\e025", $color) };
@mixin icon-image($color: black) { @include icon("\e026", $color) };
@mixin icon-image-2($color: black) { @include icon("\e027", $color) };
@mixin icon-images($color: black) { @include icon("\e028", $color) };
@mixin icon-connection($color: black) { @include icon("\e029", $color) };
@mixin icon-podcast($color: black) { @include icon("\e02a", $color) };
@mixin icon-book($color: black) { @include icon("\e02b", $color) };
@mixin icon-books($color: black) { @include icon("\e02c", $color) };
@mixin icon-file($color: black) { @include icon("\e02d", $color) };
@mixin icon-profile($color: black) { @include icon("\e02e", $color) };
@mixin icon-file-2($color: black) { @include icon("\e02f", $color) };
@mixin icon-copy($color: black) { @include icon("\e030", $color) };
@mixin icon-file-3($color: black) { @include icon("\e031", $color) };
@mixin icon-file-4($color: black) { @include icon("\e032", $color) };
@mixin icon-copy-2($color: black) { @include icon("\e033", $color) };
@mixin icon-copy-3($color: black) { @include icon("\e034", $color) };
@mixin icon-paste($color: black) { @include icon("\e035", $color) };
@mixin icon-paste-2($color: black) { @include icon("\e036", $color) };
@mixin icon-paste-3($color: black) { @include icon("\e037", $color) };
@mixin icon-folder($color: black) { @include icon("\e038", $color) };
@mixin icon-folder-open($color: black) { @include icon("\e039", $color) };
@mixin icon-pushpin($color: black) { @include icon("\e03a", $color) };
@mixin icon-bell($color: black) { @include icon("\e03b", $color) };
@mixin icon-drawer($color: black) { @include icon("\e03c", $color) };
@mixin icon-drawer-2($color: black) { @include icon("\e03d", $color) };
@mixin icon-drawer-3($color: black) { @include icon("\e03e", $color) };
@mixin icon-bubble($color: black) { @include icon("\e03f", $color) };
@mixin icon-bubbles($color: black) { @include icon("\e040", $color) };
@mixin icon-bubbles-2($color: black) { @include icon("\e041", $color) };
@mixin icon-bubble-2($color: black) { @include icon("\e042", $color) };
@mixin icon-bubbles-3($color: black) { @include icon("\e043", $color) };
@mixin icon-bubbles-4($color: black) { @include icon("\e044", $color) };
@mixin icon-user($color: black) { @include icon("\e045", $color) };
@mixin icon-users($color: black) { @include icon("\e046", $color) };
@mixin icon-user-2($color: black) { @include icon("\e047", $color) };
@mixin icon-users-2($color: black) { @include icon("\e048", $color) };
@mixin icon-user-3($color: black) { @include icon("\e049", $color) };
@mixin icon-busy($color: black) { @include icon("\e04a", $color) };
@mixin icon-spinner($color: black) { @include icon("\e04b", $color) };
@mixin icon-zoom-in($color: black) { @include icon("\e04c", $color) };
@mixin icon-zoom-out($color: black) { @include icon("\e04d", $color) };
@mixin icon-lock($color: black) { @include icon("\e04e", $color) };
@mixin icon-lock-2($color: black) { @include icon("\e04f", $color) };
@mixin icon-unlocked($color: black) { @include icon("\e050", $color) };
@mixin icon-cog-2($color: black) { @include icon("\e051", $color) };
@mixin icon-cogs($color: black) { @include icon("\e052", $color) };
@mixin icon-wand($color: black) { @include icon("\e053", $color) };
@mixin icon-hammer($color: black) { @include icon("\e054", $color) };
@mixin icon-meter2($color: black) { @include icon("\e055", $color) };
@mixin icon-dashboard($color: black) { @include icon("\e056", $color) };
@mixin icon-switch($color: black) { @include icon("\e057", $color) };
@mixin icon-download($color: black) { @include icon("\e058", $color) };
@mixin icon-upload($color: black) { @include icon("\e059", $color) };
@mixin icon-cloud-upload($color: black) { @include icon("\e05a", $color) };
@mixin icon-cloud-download($color: black) { @include icon("\e05b", $color) };
@mixin icon-star($color: black) { @include icon("\e05c", $color) };
@mixin icon-star-2($color: black) { @include icon("\e05d", $color) };
@mixin icon-star-3($color: black) { @include icon("\e05e", $color) };
@mixin icon-cancel-circle($color: black) { @include icon("\e05f", $color) };
@mixin icon-checkmark-circle($color: black) { @include icon("\e060", $color) };
@mixin icon-spam($color: black) { @include icon("\e061", $color) };
@mixin icon-checkmark-2($color: black) { @include icon("\e062", $color) };
@mixin icon-enter($color: black) { @include icon("\e063", $color) };
@mixin icon-exit($color: black) { @include icon("\e064", $color) };
@mixin icon-arrow-up-left-2($color: black) { @include icon("\e065", $color) };
@mixin icon-arrow-up-2($color: black) { @include icon("\e066", $color) };
@mixin icon-arrow-up-right-2($color: black) { @include icon("\e067", $color) };
@mixin icon-arrow-right-2($color: black) { @include icon("\e068", $color) };
@mixin icon-arrow-down-right-2($color: black) { @include icon("\e069", $color) };
@mixin icon-arrow-down-2($color: black) { @include icon("\e06a", $color) };
@mixin icon-arrow-down-left-2($color: black) { @include icon("\e06b", $color) };
@mixin icon-arrow-left-2($color: black) { @include icon("\e06c", $color) };
@mixin icon-checkbox-unchecked($color: black) { @include icon("\e06d", $color) };
@mixin icon-checkbox-partial($color: black) { @include icon("\e06e", $color) };
@mixin icon-radio-checked($color: black) { @include icon("\e06f", $color) };
@mixin icon-radio-unchecked($color: black) { @include icon("\e070", $color) };
@mixin icon-checkbox-checked($color: black) { @include icon("\e071", $color) };
@mixin icon-table-2($color: black) { @include icon("\e072", $color) };
@mixin icon-console($color: black) { @include icon("\e073", $color) };
@mixin icon-google-drive($color: black) { @include icon("\e074", $color) };
@mixin icon-facebook($color: black) { @include icon("\e075", $color) };
@mixin icon-facebook-2($color: black) { @include icon("\e076", $color) };
@mixin icon-facebook-3($color: black) { @include icon("\e077", $color) };
@mixin icon-google-plus($color: black) { @include icon("\e078", $color) };
@mixin icon-google-plus-2($color: black) { @include icon("\e079", $color) };
@mixin icon-google($color: black) { @include icon("\e07a", $color) };
@mixin icon-google-plus-3($color: black) { @include icon("\e07b", $color) };
@mixin icon-twitter($color: black) { @include icon("\e07c", $color) };
@mixin icon-twitter-2($color: black) { @include icon("\e07d", $color) };
@mixin icon-twitter-3($color: black) { @include icon("\e07e", $color) };
@mixin icon-file-pdf($color: black) { @include icon("\e07f", $color) };
@mixin icon-file-excel($color: black) { @include icon("\e080", $color) };
@mixin icon-file-openoffice($color: black) { @include icon("\e081", $color) };
@mixin icon-file-word($color: black) { @include icon("\e082", $color) };
@mixin icon-file-zip($color: black) { @include icon("\e083", $color) };
@mixin icon-file-powerpoint($color: black) { @include icon("\e084", $color) };
@mixin icon-file-xml($color: black) { @include icon("\e085", $color) };
@mixin icon-file-css($color: black) { @include icon("\e086", $color) };
